{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-special jumbotron-fluid text-center">
    <div id="firstJBox">
  <h1 class="display-4">Discography</h1>
  <p class="lead">A look into the works of the band since 1970</p>
  <hr class="my-4">
    </div>
</div>

<div class="container text-center">
  <h1>Queen Through The Years</h1>
  <p>With 15 studio albums under their belt, Queen accomplished six #1 hits and have provided music for generations to enjoy. </p>

  <div class="card-columns">
  {% for disc in queen.discography %}
  <div class="card">
    <img src="img/discs/{{ disc.image }}" class="card-img-top" alt="">
    <div class="card-body">
    <h5 class="card-title text-center">{{ disc.title }}</h5>
    <p class="card-text text-center">{{ disc.year }}</p>
    </div>
  </div>
  {% endfor %}
</div>

  {% endblock %}
