{% extends '_templates/base.njk' %}

{% block page_title %}Queen Home{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
 <div class="jumbotron">
  <h1 class="display-4">Q u e e n</h1>
  <hr class="my-4">
  </div>
</div>

<div class="container text-center">
  <h1>Welcome to the Official Site of The Best Band in the World</h1>
  <p> </p>
  
  <h2>"Carry on, carry on, as if nothing really matters..."</h2>
  <p>In 1970, the iconic band that we all know as 'Queen' was created. This site contains all you need to know about the legends that will go down in history.</p>
  </div>
</div>
<div class="container text-center">
<h2>Queen: The Members</h2>
<p>Learn more about each individual!</p>
 <div class="row">
   {% for member in queen.members %}
      <div class="col">
        <img src="img/members/{{ member.image }}" alt="" class="img-fluid">
        <h3><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
{% endblock %}