{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ author }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/members/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <p> </p>
          <p>Birthplace: {{ birthplace }}</p>
          <p>Birthdate: {{ birthdate }}</p>
          <p>Tenure: {{ tenure }}</p>
          <p>Instrumental Talents: {{ instruments }}</p>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
